@model nok_cinema_web.Models.SHOWTIME

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SHOWTIME</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MOVIE.MOVIEID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MOVIE.MOVIEID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MOVIE.MOVIENAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MOVIE.MOVIENAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SHOWDATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SHOWDATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.THEATRE.THEATREID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.THEATRE.THEATREID)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id1 = Model.SHOWDATE, id2 = Model.MOVIEID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
