@using nok_cinema_web.ViewModels
@model nok_cinema_web.ViewModels.TicketListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ShowTime_page4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/defaultmember.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/ticket.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/CSS/w3.css")">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
</head>
<body>
    <div>
        <div class="header">
            <div class="menu">
                <div class="top1"><img src="@Url.Content("~/Content/Images/logo15.png")"> NOK CINEMA</div>
                <div class="top2">Home</div>
                <div class="top2">Food & Drink</div>
                <div class="content1">
                    <div class="dropdown">
                        <button class="dropbtn">Management</button>
                        <div class="dropdown-content">
                            <a>Profile</a>
                            <a>Setting</a>
                            <a>Logout</a>
                        </div>
                    </div>
                    <div class="top3">Hello, Username <img src="@Url.Content("~/Content/Images/logo2.png")"></div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="bluespace"></div>
            <div class="back">
                <ul id="breadcrumb">
                    <li><a>Select movie</a></li>
                    <li><a>Select showtime</a></li>
                    <li><a>Select seat</a></li>
                    <li><a>Pay</a></li>
                    <li><a class="menu_ack">Complete</a></li>
                </ul>
                <div class="bluespace"></div>
                <div class="header2"><img src="logo16.png"> Complete</div>
                <div class="box2">
                    <div class="whitespace"></div>
                    @foreach (var ticketViewModel in Model.Tickets)
                    {
                        <text><div class="frame">
                                <div class="bot0">
                                    <img src="@Url.Content("~/Content/Images/cinema.png")"> NOK CINEMA
                                </div>
                                <div class="bot1">
                                    <ul>
                                        <div class="bot11">Date:</div>
                                        <br />
                                        <div class="bot11">Time:</div>
                                        <br />
                                        <div class="bot11">Seat:</div>
                                        <br />
                                        <div class="bot11">Theatre:</div>
                                        <br />
                                        <div class="bot11">Movie:</div>
                                    </ul>
                                </div>
                                <div class="bot2">
                                    <ul>
                                        <div class="bot21">@Model.DateTime.ToString("MMM|dd|yyyy")</div>
                                        <br />
                                        <div class="bot21">@Model.DateTime.ToString("t")</div>
                                        <br />
                                        <div class="bot21">@ticketViewModel.Seatrow@ticketViewModel.Seatnumber</div>
                                        <br />
                                        <div class="bot21">@Model.TheatreId</div>
                                        <br />
                                        <div class="bot21">@Model.MovieName</div>
                                    </ul>
                                </div>
                                <div class="bot3">
                                    <div class="bot31">
                                        <img src="@Url.Content("~/Content/Images/calendar.png")">
                                    </div><br />
                                    <br />
                                    <div class="bot31">
                                        <img src="@Url.Content("~/Content/Images/seat.png")">
                                    </div><br />
                                    <div class="bot31">
                                        <img src="@Url.Content("~/Content/Images/movie.png")">
                                    </div><br />
                                    <div class="bot31">
                                        <img src="@Url.Content("~/Content/Images/logo1.png")">
                                    </div>
                                </div>
                                <div class="whitespace"></div>
                            </div></text>
                    }
                </div>
                <div class="yellowspace"></div>
            </div>
        </div>
        <div class="content3">
            <div class="deep">
                <div class="copyr"><img src="@Url.Content("~/Content/Images/logo3.png")"> <img src="@Url.Content("~/Content/Images/logo4.png")"> <img src="@Url.Content("~/Content/Images/logo5.png")"> 02-222-2222 Copyright<img src="@Url.Content("~/Content/Images/logo6.png")"> 2016 By NOKCINEMA</div>
            </div>
        </div>
    </div>
</body>
</html>