@using nok_cinema_web.ViewModels
@model nok_cinema_web.ViewModels.BookingTicketViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
</head>
<body>
    <div>
        <div class="booking-details">
            <p>Movie: <span>@Model.Movie.MOVIENAME</span></p>
            <p>Time: <span>@Model.DateTime</span></p>
            <p>Seat: </p>
            <ul id="selected-seats">
                @if (@Model.SofaCount > 0)
            {
                    @:<li><img src="@Url.Content("~/Content/images/seat-purple.png")" alt="sofa seat" />฿@Model.SofaPrice x @Model.SofaCount</li>
            }
                @if (@Model.NormalCount > 0)
            {
                    @:<li><img src="@Url.Content("~/Content/images/seat-green.png")" alt="normal seat" />฿@Model.NormalPrice x @Model.NormalCount</li>
            }
            </ul>
            <p>Tickets: <span id="counter">@(Model.NormalCount + Model.SofaCount)</span></p>
            <p>
                Total: <b>$<span id="total">@Model.TotalPrice</span></b>
            </p>

            <div id="payment">
                @using (Html.BeginForm("Ticket", "Booking", FormMethod.Post))
                {
                    @Html.Label("Card ID: ")
                    @Html.TextBox("cardid")
                    <input type="hidden" name="seatrows" id="seatrows"/>
                    <input type="hidden" name="seatnumbers" id="seatnumbers"/>
                    <input type="hidden" name="totalprice" id="totalprice" value="@Model.TotalPrice"/>
                    <input type="hidden" name="movieid" id="movieid" value="@Model.Movie.MOVIEID"/>
                    <input type="hidden" name="moviename" id="moviename" value="@Model.Movie.MOVIENAME"/>
                    <input type="hidden" name="datetime" id="datetime" value="@Model.DateTime"/>
                    <input type="submit" value="Save" id="checkout-button" style="text-align: center"/>
                }
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <script>
        $('#checkout-button')
            .click(function() {
                var seatRows = [];
                var seatNumbers = [];
                @foreach (SeatViewModel t in Model.BookingSeats.Seats)
                {
                    <text>seatNumbers.push('@t.SeatNumber');
                    seatRows.push('@t.SeatRow');</text>
                }
                $('#seatrows').val(JSON.stringify(seatRows));
                $('#seatnumbers').val(JSON.stringify(seatNumbers));
            });
    </script>
</body>
</html>
