@using nok_cinema_web.ViewModels
@model nok_cinema_web.ViewModels.BookingTicketViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/defaultmember.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/showtime4.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/CSS/w3.css")">
    <style>
        ul { list-style-type: none; }
        .bot{
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 115px;
        color: #606060;
        float: left;
        text-decoration: none;
        }
        .Cash{ background: #ff0ff0; }
        .Visa{ background: #00ff00; }
        .Mastercard{ background: #0000ff; }
        .Paypal{ background: #ff00ff; }
    </style>
</head>
<body>
    <div>
        <div class="header">
            <div class="menu">
                @using (Html.BeginForm("Index", "Home"))
            {<button class="top1" type="submit"><img src="~/Content/Images/logo1.png"> NOK CINEMA</button>}
                @using (Html.BeginForm("Index", "Home"))
            {<button class="top2" type="submit">Home</button>}
                @*@using (Html.BeginForm("SelectMovie", "Movies"))
                {<button class="top2" type="submit">ShowTime</button>}
                @using (Html.BeginForm("Movie", "Movies"))
                {<button class="top2" type="submit">Movies</button>}*@
                @using (Html.BeginForm("Food", "FOODs"))
            {<button class="top2" type="submit">Food & Drink</button>}
                <div class="content1">
                    <div class="dropdown">
                        <button class="dropbtn">Management</button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Profile", "Edit", "People")
                            @Html.ActionLink("Ticket", "History", "Booking")
                            @Html.ActionLink("Logout", "Logout", "Authentication")
                        </div>
                    </div>
                    <div class="type3">Welcome<img src="~/Content/Images/logo2.png"></div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="greenspace"></div>
            <div class="back">
                <ul id="breadcrumb">
                    <li><a>Select movie</a></li>
                    <li><a>Select showtime</a></li>
                    <li><a>Select seat</a></li>
                    <li><a class="menu_ack">Pay</a></li>
                    <li><a>Complete</a></li>
                </ul>
                <div class="greenspace"></div>
                <div class="header2"><img src="~/Content/Images/logo16.png"> Pay</div>
                <div class="box2">
                    <div class="bot1">
                        <ul>
                            <div class="bot11">Movie</div>
                            <br />
                            <div class="bot11">Date</div>
                            <br />
                            <div class="bot11">Type</div>
                            <br />
                            <br />
                            <br />
                            @*<div class="bot12">Total</div>*@
                        </ul>
                    </div>
                    <div class="bot2">
                        <ul>
                            <div class="bot21">@Model.Movie.MOVIENAME</div>
                            <br/>
                            <div class="bot21">@Model.DateTime</div>
                            <br/>
                            <div class="bot21">
                                <ul id="selected-seats">
                                    @if (@Model.SofaCount > 0)
                                    {@:
                                        <li><img src="@Url.Content("~/Content/images/seat-purple.png")" alt="sofa seat"/>฿@Model.SofaPrice x @Model.SofaCount</li>
                                    }
                                    @if (@Model.NormalCount > 0)
                                    {@:
                                        <li><img src="@Url.Content("~/Content/images/seat-green.png")" alt="normal seat"/>฿@Model.NormalPrice x @Model.NormalCount</li>
                                    }
                                </ul>
                            </div>
                            <br/>
                            <br/>
                            <br/>
                            <p>
                                <div class="bot22">
                                    <b>฿<span id="total">@Model.TotalPrice</span></b>
                                </div>
                            </p>
                        </ul>
                        <br/>
                        <div id="visa_way" class="nextBtn">
                            <div id="payment">
                                @using (Html.BeginForm("Ticket", "Booking", FormMethod.Post))
                                {
                                    @Html.Label("Card ID: ")
                                    @Html.TextBox("cardid")
                                    <input type="hidden" name="seatrows" id="seatrows" />
                                    <input type="hidden" name="seatnumbers" id="seatnumbers" />
                                    <input type="hidden" name="totalprice" id="totalprice" value="@Model.TotalPrice" />
                                    <input type="hidden" name="movieid" id="movieid" value="@Model.Movie.MOVIEID" />
                                    <input type="hidden" name="moviename" id="moviename" value="@Model.Movie.MOVIENAME" />
                                    <input type="hidden" name="datetime" id="datetime" value="@Model.DateTime" />
                                    <input type="submit" value="Save" id="checkout-button" class="submit" style="text-align: center" />
                                }
                            </div>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orangespace"></div>
            <div class="box3">
                <div class="bot321">
                    <img src="~/Content/Images/logo18.png)">
                </div><br /><br /><br /><br />
            </div>
        </div>
        <div class="yellowspace"></div>
        <div class="greenspace"></div>
    </div>
        <div class="content3">
            <div class="deep">
                <div class="copyr"><img src="~/Content/Images/logo3.png"> <img src="~/Content/Images/logo4.png"> <img src="~/Content/Images/logo5.png"> 02-222-2222 Copyright<img src="~/Content/Images/logo6.png"> 2016 By NOKCINEMA</div>
            </div>
        </div>
    <script>
        $('#checkout-button')
            .click(function () {
                var seatRows = [];
                var seatNumbers = [];
                @foreach (SeatViewModel t in Model.BookingSeats.Seats)
                {
                    <text>seatNumbers.push('@t.SeatNumber');
                seatRows.push('@t.SeatRow');</text>
                }
                $('#seatrows').val(JSON.stringify(seatRows));
                $('#seatnumbers').val(JSON.stringify(seatNumbers));
            });
    </script>
</body>
</html>
