@{
    //ViewBag.Title = "Home Page";
    Layout = null;
}

@model nok_cinema_web.ViewModels.MovieListViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index | NOK Cinema</title>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstrap-iso.css")" /> 
</head>
<body>
    <div class="movies">
        @*@foreach (var movie in Model.Movies)
        {
            <li>
                <a href="@Url.Action("Details", "Movies", new { id = movie.MovieId })">
                    @*<img alt="@movie.MovieName" src="@movie.AlbumArtUrl" />*@
                    @*<span>@movie.MovieName</span>
                </a>
            </li>
        }*@
    </div>
</body>
</html>