@using nok_cinema_web.Models
@model PERSON
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
        @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
        {
            @Html.LabelFor(c => c.USERNAME)
            @Html.TextBoxFor(x => x.USERNAME)
            <br />
            @Html.LabelFor(c => c.PASSWORD)
            @Html.PasswordFor(x => x.PASSWORD)
            <br />
            <input type="submit" name="BtnSubmit" value="Login" />
        }
    </div>
</body>
</html>
