@model nok_cinema_web.Models.PERSON

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PERSON</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FNAME)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FNAME)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LNAME)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LNAME)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GENDER)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GENDER)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BIRTHDATE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BIRTHDATE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ADDRESS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EMAIL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EMAIL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.USERNAME)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.USERNAME)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PASSWORD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PASSWORD)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CITIZENID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
