@model nok_cinema_web.ViewModels.MovieListViewModel

@{
    Layout = null;
}

<div class="category">
    <h3><em>@Model.Category</em> Category</h3>

    <ul id="movie-list">
        @foreach (var movie in Model.Movies)
        {
            <div class="poster">
                <a href="@Url.Action("Details", new { id = movie.MovieId })">
                    <img alt="@movie.MovieName" src="@Url.Content(String.Format("~/Content/Images/Movies/Thumbnails/{0}.jpg", movie.MovieId))"/>
                </a>
            </div>
            <div class="movieDetails">
                <span>@movie.MovieName</span>
                <span>@movie.MovieId</span>
            </div>
        }
    </ul>
</div>
