@model nok_cinema_web.Models.MOVIE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/defaultmember.css">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/profile.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqBootstrapValidation.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstrap-iso.css")" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="~/Content/CSS/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="~/Scripts/sortable.min.js" type="text/javascript"></script>
    <script src="~/Scripts/purify.min.js" type="text/javascript"></script>
    <script src="~/Scripts/fileinput.min.js" type="text/javascript"></script>
    <script src="~/Scripts/sortable.min.js" type="text/javascript"></script>
    <script src="~/Scripts/fa.js"></script>
    <script src="~/Scripts/th.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm("Create", "MOVIEs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @*<style>
                    .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
                        font-family: Arial, Helvetica, sans-serif;
                        color: black;
                    }

                        .bootstrap-iso form button, .bootstrap-iso form button:hover {
                            color: white !important;
                        }

                    .asteriskField {
                        color: red;
                    }
                </style>*@
            <script>
                                $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); });
            </script>

            <div class="body">
                <div class="bootstrap-iso">
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <form class="form-horizontal" method="post">
                                    <div class="control-group ">
                                        <label class="control-label col-md-4" for="MOVIENAME">
                                            MOVIENAME
                                        </label>
                                        <div class="col-md-4">
                                            <input class="form-control text-box single-line" id="MOVIENAME" name="MOVIENAME" type="text" value="" required maxlength="70">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                    <div class="control-group ">
                                        <label class="control-label col-md-4" for="DIRECTOR">
                                            DIRECTOR
                                        </label>
                                        <div class="col-md-4">
                                            <input class="form-control text-box single-line" id="DIRECTOR" name="DIRECTOR" type="text" value="" required maxlength="70">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                    <div class="control-group ">
                                        <label class="control-label col-md-4" for="SHORTDESCRIPTION">
                                            SHORTDESCRIPTION
                                        </label>
                                        <div class="col-md-4">
                                            <input class="form-control text-box single-line" id="SHORTDESCRIPTION" name="SHORTDESCRIPTION" type="text" value="" required maxlength="255">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label col-md-4" for="DURATION">
                                            DURATION
                                        </label>
                                        <div class="col-md-4">
                                            <input class="form-control text-box single-line" id="DURATION" name="DURATION" type="text" value="" required maxlength="4">
                                            <p class="help-block"></p>
                                        </div>

                                    </div>
                                    <div class="control-group ">
                                        <label class="control-label col-md-4" for="PLAYCOUNT">
                                            PLAYCOUNT
                                        </label>
                                        <div class="col-md-4">
                                            <input class="form-control text-box single-line" id="PLAYCOUNT" name="PLAYCOUNT" type="text" value="" maxlength="10">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label class="control-label col-md-4" for="STATUS">
                                            STATUS
                                        </label>
                                        <div class="col-md-4">
                                            <input class="form-control text-box single-line" id="STATUS" name="STATUS" type="text" value="" required maxlength="20">
                                            <p class="help-block"></p>
                                        </div>
                                        <br />
                                        <br />
                                    </div>
                                        <div class="control-group">
                                            <label class="control-label col-md-4" for="SHOWDATE">
                                                SHOWDATE
                                            </label>
                                            <div class="col-md-4">
                                                <input class="form-control text-box single-line" id="SHOWDATE" name="SHOWDATE" type="text" value="" required>
                                                <p class="help-block"></p>
                                            </div>
                                          </div>
                                        <div class="form-group">
                                            <div class="control-label col-md-6">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                            </div>
                                            <br />
                                            <br />
                                        </div>
                                    <label class="control-label">Select File</label>
                                    <input id="file" type="file" class="file" name="file" >
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxbg"></div>
        </div>
                <!-- Include Date Range Picker -->
                        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
                        <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstrap-datepicker3.css")" />

                            <script>
                                $(document).ready(function () {
                                    var date_input = $('input[name="SHOWDATE"]'); //our date input has the name "date"
                                    var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                                    date_input.datepicker({
                                        format: 'dd/mm/yyyy',
                                        container: container,
                                        todayHighlight: true,
                                        autoclose: true,
                                    })
                                })
                            </script>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
