@model IEnumerable<nok_cinema_web.Models.MOVIE>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <br />
    @Html.ActionLink("Logout", "Logout", "Authentication")
    @Html.ActionLink("Action category", "Browse", new { category = "action" })
    @Html.ActionLink("Drama category", "Browse", new { category = "drama" })
    @Html.ActionLink("Comedy category", "Browse", new { category = "comedy" })
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MOVIENAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DIRECTOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SHORTDESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DURATION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PLAYCOUNT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SHOWDATE)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MOVIENAME)
                </td>
                <td>
                    <ul>
                        @foreach (var eachCategory in item.CATEGORY)
                        {
                            <li>@Html.DisplayFor(modelItem => eachCategory.CATEGORYNAME)</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var eachActor in item.ACTOR)
                        {
                            <li>@Html.DisplayFor(modelItem => eachActor.ACTORNAME)</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIRECTOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SHORTDESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DURATION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PLAYCOUNT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATUS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SHOWDATE)
                </td>
                <td>
                    @Html.ActionLink("Showtimes", "BrowseShowtimes", new { movieid = item.MOVIEID }) |
                    @Html.ActionLink("Edit", "Edit", new {id = item.MOVIEID}) |
                    @Html.ActionLink("Details", "Details", new {id = item.MOVIEID}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.MOVIEID})
                </td>
            </tr>
        }

    </table>
</body>
</html>
