@using nok_cinema_web.ViewModels
@model MovieListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/defaultmember.css">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/showtime1.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/CSS/w3.css")">
</head>
<body>
    <div>
        <div class="header">
            <div class="menu">
                @using (Html.BeginForm("Index", "Home"))
                {<button class="top1" type="submit"><img src="~/Content/Images/logo1.png"> NOK CINEMA</button>}
                @using (Html.BeginForm("Index", "Home"))
                {<button class="top2" type="submit">Home</button>}
                @using (Html.BeginForm("SelectMovie", "Movies"))
                {<button class="top2" type="submit">ShowTime</button>}
                @using (Html.BeginForm("Movie", "Movies"))
                {<button class="top2" type="submit">Movies</button>}
                @using (Html.BeginForm("Food", "FOODs"))
                {<button class="top2" type="submit">Food & Drink</button>}
                <div class="content1">
                    <div class="dropdown">
                        <button class="dropbtn">Management</button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Profile", "Edit", "People")
                            @Html.ActionLink("Ticket", "History", "Booking")
                            @Html.ActionLink("Logout", "Logout", "Authentication")
                        </div>
                    </div>
                    @{ MemberUserProfile user = (MemberUserProfile)TempData["UserProfileData"];}
                    <div class="type3">Welcome, @user.USERNAME <img src="~/Content/Images/logo2.png"></div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="greenspace"></div>
            <div class="back">
                <ul id="breadcrumb">
                    <li><a class="menu_ack">Select movie</a></li>
                    <li><a>Select showtime</a></li>
                    <li><a>Select seat</a></li>
                    <li><a>Pay</a></li>
                    <li><a>Complete</a></li>
                </ul>
                <div class="greenspace"></div>
                <div class="header2"><img src="~/Content/Images/logo16.png"> Select movie</div>
                @using (Html.BeginForm("SelectShowtime", "SHOWTIMEs", FormMethod.Post))
                {
                    <div class="box2">
                        <select id="movieid" name="movieid" style="width: 50%; height: 40px; font-size: 15pt; padding-left: 10px;">
                            <option value="Movies" selected>Movies</option>
                            @foreach (var item in Model.Movies)
                            {
                                <option value=@item.MovieId>@item.MovieName</option>
                            }
                        </select>
                    </div>
                    <div class="greenspace"></div>
                    <div class="greenspace"></div>
                    <div class="box4">
                        <button class="submit">Next</button>
                    </div>
                }
            </div>
            <div class="content3">
                <div class="deep">
                    <div class="copyr"><img src="~/Content/Images/logo3.png"> <img src="~/Content/Images/logo4.png"> <img src="~/Content/Images/logo5.png"> 02-222-2222 Copyright<img src="~/Content/Images/logo6.png"> 2016 By NOKCINEMA</div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>
